<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Exoplanets Eploration </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exoplanets">
                <span class="bi bi-satellite" aria-hidden="true"></span> Exoplanets
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="methods">
                <span class="bi bi-telescope" aria-hidden="true"></span> Methods
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exomoons">
                <span class="bi bi-moon" aria-hidden="true"></span> Exomoons
            </NavLink>
        </div>

    </nav>
</div>
