@page "/GasGiant"

<PageTitle>Gas giants</PageTitle>

<h1 style="font-family: 'Roboto', sans-serif; text-align: center;">Gas Giant</h1>
<h2 style="font-family: 'Roboto', sans-serif;">What are the Gas Giants?</h2>

<p>Gas giants are massive planets without a definite solid surface that are primarily made of hydrogen and helium.
    Similar to Jupiter and Saturn in our solar system, these planets are notable for their considerable size and thick
    atmospheres made primarily of gas. Gas giants, in contrast to terrestrial planets with stony surfaces, have thick
    cores encircled by gaseous layers that occasionally include clouds of ammonia, methane, and water. Extreme pressures
    and temperatures are thought to exist inside these planets' innards, giving rise to strange states of matter.
    Usually considerably larger than Earth, gas giants are able to retain lighter gasses that smaller planets would lose
    to space because of their massive mass.
</p>
<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 500px; top: 300px;">HD 80606 b</h3>
<!-- Terrestrial Planets -->
<div style="width: 32%; float: left; top: 400px; ">
    <img src="/HD80606b.jpg" alt="HD80606b" style="width: 50; height: 150px; position: fixed; left: 500px; top: 350px;">

    <ol style="font-size: 14px; position: absolute; left: 240px; top: 520px;">
        <li><strong>Eccentric Orbit</strong>: This planet has an Eccentric orbit that brings it extremely close to its
            star<br>, then swings it far out, similar to a comet's trajectory. This unusual path results in significant<br>
            temperature variations​ </li>

        <li><strong>Extreme Temperature Changes</strong>: In a close approach of its start the temperature can spike
            over<br> 2000  degress fahrenheit rocky or have a Neptune-like composition with ice and gas.</li>

        <li><strong>Orbital Period and Distance</strong>: It completes an orbit in 111 days which is a typical distance
            for a gas<br> giant specially a one with host star</li>

        <li><strong>Migration process</strong>: The migration of HD 80606 b is thought to be inward, from a wide orbit
            to a closer,<br> more typical "hot Jupiter" orbit; this migration offers important new information for planetary
            migration <br> hypotheses.​ </li>

        <li><strong>Observational Studies</strong>:The Spitzer Space Telescope has been used to study the planet in
            great detail,<br> providing information on its atmospheric dynamics and orbital changes throughout time.</li>
    </ol>
</div>

<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 1100px; top: 300px;">TOI-4600b</h3>
<div>
    <img src="/TOI-4600b.jpg" alt="Proxima Centauri b"
        style="width: 50; height: 150px; position: fixed; left: 1100px; top: 350px;">


    <ol style="font-size: 14px; position: absolute; left: 890px; top: 520px;">
        <li><strong>Discovery by TESS</strong>: The TESS (Transiting Exoplanet Survey Satellite) mission, which uses the
            transit method to detect planets around neighboring stars, identified this planet.​ .</li>

        <li><strong>Long Orbital Period</strong>: The orbital period of TOI-4600 b is 82 days, which sets it apart from
            the shorter orbits of many gas giants, especially hot Jupiters.​ </li>

        <li><strong>Transit Observations</strong>: TESS confirmed the presence of TOI-4600 b by observing multiple
            transits, proving the
            efficacy of TESS's approach to finding long-period exoplanets.</li>

        <li><strong>System Configuration</strong>: Completes an orbit around the star in abou 11.2 days<br> causing
            Kepler-452b to
            receive 10% more solar energy.</li>

        <li><strong>Potential for Further Discovery</strong>: The arrangement of the system and the gaps in the orbital
            periods imply that other planets may exist in the system, either farther or nearer the star, demonstrating
            the variety and possible complexity of exoplanetary systems.​</li>
    </ol>
</div>