@page "/HotJupiters"

<PageTitle>Hot Jupiters</PageTitle>

<h1 style="font-family: 'Roboto', sans-serif; text-align: center;">Hot Jupiters</h1>
<h2 style="font-family: 'Roboto', sans-serif;">What are the Hot Jupiters?</h2>

<p>Hot Jupiters are a class of exoplanets characterized by their large sizes, comparable to Jupiter, and extremely close
    orbits around their host stars, typically completing a revolution in just a few Earth days. These planets are called
    "hot" due to the intense heat they receive from being so near to their stars, often resulting in temperatures that
    can vaporize metals. Hot Jupiters were among the first types of exoplanets to be discovered and have significantly
    influenced the field of exoplanetary science by challenging our understanding of planetary system formation and
    dynamics.
</p>
<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 440px; top: 300px;">HD 209458 b (Osiris)</h3>
<!-- Terrestrial Planets -->
<div style="width: 32%; float: left; top: 400px; ">
    <img src="/HD 209458 b.jpg" alt="HD 209458-b"
        style="width: 50; height: 150px; position: fixed; left: 500px; top: 350px;">

    <ol style="font-size: 14px; position: absolute; left: 240px; top: 520px;">
        <li><strong>Discovery</strong>: Since it was one of the first exoplanets to be verified as transiting its home
            star, in-depth <br> research on its atmosphere was possible.
        </li>

        <li><strong>Atmospheric Composition</strong>: Its atmosphere contains molecules resembling water vapor,
            according <br> to observations.</li>

        <li><strong>Temperature</strong>:Because of the tremendous heating caused by its close closeness to its star, it
            displays <br> a notable temperature differential between its day and night sides.
        </li>

        <li><strong>Orbital Characteristics</strong>: Its orbital period is exceedingly short; it takes it only around
            3.5 days <br> to complete a rotation around its star.
        </li>

        <li><strong>Pionner Observation</strong>:
            HD 209458 b has played a key role in the development of methods for using <br> transmission spectroscopy to
            examine the makeup of the atmosphere.
        </li>
    </ol>
</div>

<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 1120px; top: 300px;">HD 189733</h3>
<div>
    <img src="/HD 189733.jpg" alt="Proxima Centauri b"
        style="width: 50; height: 150px; position: fixed; left: 1100px; top: 350px;">


    <ol style="font-size: 14px; position: absolute; left: 890px; top: 520px;">
        <li><strong>Atmosphere</strong>: Due to silicate particles in its atmosphere that scatter blue light, it is
            well-known for having a deep blue color.
        </li>

        <li><strong>Weather Conditions</strong>:Extreme weather on the planet is well-known, with reports of supersonic
            winds and perhaps falling molten glass.</li>

        <li><strong>Spectral Analysis</strong>:Its light spectrum has been measured in great detail by studies using the
            Hubble and Spitzer space telescopes, providing information about its atmosphere conditions.</li>

        <li><strong>Orbital Dynamics</strong>: It is probably tidally locked, with one side always facing its star, like
            many hot Jupiters.</li>

        <li><strong>Impact on Exoplanet Research</strong>:HD 189733 b has been crucial in understanding the interaction
            between starlight and planetary atmospheres, influencing theories about atmospheric circulation on hot
            Jupiters​</li>
    </ol>
</div>