@page "/IceGiants"

<PageTitle>Ice Giants Exoplanets</PageTitle>

<h1 style="font-family: 'Roboto', sans-serif; text-align: center;">Ice Giants Exoplanets</h1>
<h2 style="font-family: 'Roboto', sans-serif;">What are Ice Giants?</h2>

<p>Ice giants are a class of large planets characterized primarily by their significant composition of icy materials
    such as water, ammonia, and methane, alongside hydrogen and helium. Unlike gas giants like Jupiter and Saturn, which
    are composed mostly of hydrogen and helium, ice giants have a higher proportion of heavier elements. The most
    well-known examples in our solar system are Uranus and Neptune. These planets have a distinct blue appearance due to
    the absorption of red light by methane in their atmospheres. Ice giants are thought to form farther from their star,
    where volatile compounds can freeze into solid ices, playing a crucial role in their formation and evolution. These
    planets provide fascinating insights into the diversity of planetary systems and the processes that govern planet
    formation beyond the warmer inner regions of planetary systems.
</p>
<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 520px; top: 300px;">TOI-849b</h3>
<!-- Terrestrial Planets -->
<div style="width: 32%; float: left; top: 400px; ">
    <img src="/TOI-849b.jpg" alt="TOI-849b" style="width: 50; height: 150px; position: fixed; left: 500px; top: 350px;">

    <ol style="font-size: 13px; position: absolute; left: 240px; top: 520px;">
        <li><strong>Mass and Density</strong>: Notably, TOI-849b has a density similar to Earth's and a mass
            approximately <br>40 times that of Earth, making it the most massive Neptune-sized planet ever found. </li>

        <li><strong>Orbital Characteristics</strong>: Every eighteen hours, it circles its host star, a sign of close
            closeness that<br> exposes it to high levels of stellar radiation.</li>

        <li><strong>Potential Remmant Core</strong>:Given its proximity to its star, the planet might be the remnants of
            a much larger<br> gas giant, its gaseous envelope having been stripped away.</li>

        <li><strong>Discovery and Observation</strong>: Due to its distinct features and composition, TOI-849b, which
            was found by <br> NASA's TESS spacecraft, contradicts accepted theories on planetary formation and evolution.
        </li>

        <li><strong>Astrophysical Significance</strong>: The peculiar characteristics of TOI-849b offer an invaluable
            example for <br> researching the makeup of planetary cores and the mechanisms that might remove a planet's
            atmosphere.
        </li>
    </ol>
</div>

<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 1040px; top: 300px;">Uranus Analog Exoplanet</h3>
<div>
    <img src="/UranusAnalogPlanet.jpg" alt="Proxima Centauri b"
        style="width: 50; height: 150px; position: fixed; left: 1100px; top: 350px;">


    <ol style="font-size: 13px; position: absolute; left: 890px; top: 520px;">
        <li><strong>Orbital Resemblance</strong>: This exoplanet may have temperature characteristics akin to those of
            ice giants in our solar system because it orbits its star at a distance comparable to Uranus's from the Sun.
        </li>

        <li><strong>Binary Star System</strong>:Because of its location within a binary star system, it may experience
            different orbital dynamics from other planets in our solar system that may have resembled Uranus and Neptune
            in the past.</li>

        <li><strong>Discovery Method</strong>:Gravitational microlensing, a technique that makes it possible to detect
            frigid, far-off planets like this one that are ordinarily difficult to detect, was used to identify the
            planet.</li>

        <li><strong>Massive font-size</strong>: Its mass is estimated to be four times that of Uranus, suggesting a
            substantial build-up of mass from either an expanded disc or material captured from its surroundings.</li>

        <li><strong>Astrophysical Puzzle</strong>:Its discovery supports the hypothesis that these planets may form
            closer to their stars before migrating outward and offers insights into the genesis of ice giants.​​</li>
    </ol>
</div>