@page "/ImagineMethod"

<PageTitle>Direct Image Method</PageTitle>
<h1 style="font-family: 'Roboto', sans-serif; text-align: center;">Direct Image Method</h1>
<p>The direct imaging technique for finding exoplanets is taking direct images of planets by obstructing the intense
    light from their host stars. Because of their brightness and remoteness from their stars, big planets are especially
    visible with this method, even when they are far from their stars. Using coronagraphs to block starlight and
    adaptive optics to account for atmospheric distortions to improve contrast and clarity are the two basic methods.

    Astronomers can examine the surface and atmosphere of exoplanets in great detail thanks to direct imaging. It can
    shed light on seasonal variations, surface hues, and weather patterns, all of which are important for figuring out
    the composition and possible habitability of the planet.
</p>
<p>However, because of the technical difficulties in separating the planet's light from that of its much brighter star,
    the method is only applicable to a restricted number of exoplanets and requires extremely sensitive detectors. This
    approach is still being developed, and new developments in telescope technology are making it possible to find and
    study farther-off and smaller planets.
</p>

<p>When planets orbit stars that are either extremely brilliant or have distinct spectral features, direct imaging works
    particularly well at making the planets more visible. Direct imaging can only be useful, though, if sophisticated
    lenses and imaging systems are created that are able to effectively block out bright star light while capturing the
    fainter light that exoplanets emit or reflect.
    ​</p>

<h2 style="font-family: 'Roboto', sans-serif; text-align: left;">Limitations</h2>

<p>The direct imaging method, while powerful, faces several significant limitations. Firstly, it requires exceptionally
    high-contrast imaging technology to distinguish the faint light of a planet from the overwhelming brightness of its
    host star. This method is most effective for planets that are both large and far from their stars, limiting its
    applicability to a small subset of exoplanets. Additionally, the planets best suited for direct imaging are
    typically young, still glowing from the heat of their formation, which restricts the method's effectiveness with
    older, cooler planets. Atmospheric interference and the need for sophisticated adaptive optics systems further
    complicate observations from ground-based telescopes. The immense distances involved also mean that only the nearest
    star systems are viable candidates for direct imaging, restricting the number of observable exoplanets. As a result,
    while direct imaging provides invaluable data on planetary atmospheres and orbits, its usage is limited to specific
    scenarios where conditions align favorably.</p>

<h3 style="font-family: 'Roboto', sans-serif; text-align: left;">Number of planets discovered by this method</h3>
<p>As of now, approximately 100 exoplanets have been confirmed using the direct imaging method. This technique <br> primarily
    captures images of large, often young planets that are far from their host stars, making them easier <br> to distinguish
    against the star's bright light. Despite its challenges, direct imaging is crucial for understanding <br> the atmospheres
    and physical characteristics of these distant worlds, especially the gas giants that are most <br> commonly detected with
    this method..</p>
<img src="/Cumulative.jpg" alt="" style="width: 100; height: 250px; position: fixed; left: 1100px; top: 650px;">