@page "/MiniNeptunes"

<PageTitle>Mini Neptunes Exoplanets</PageTitle>

<h1 style="font-family: 'Roboto', sans-serif; text-align: center;">Mini Neptune Exoplanets</h1>
<h2 style="font-family: 'Roboto', sans-serif;">What are Mini Neptune Exoplanets?</h2>

<p>Mini Neptunes are a class of exoplanets that are smaller and less massive than Neptune but larger than Earth. These
    planets, often composed of a rocky core surrounded by a substantial hydrogen-helium atmosphere, occupy an intriguing
    middle ground between terrestrial planets and gas giants. They are frequently found in other solar systems, orbiting
    stars in a wide variety of environments. Mini Neptunes can provide valuable insights into planetary formation and
    evolution, particularly in understanding the transition from rocky super-Earths to larger, gaseous planets. The
    study of Mini Neptunes is critical as they represent one of the most common types of planets in our galaxy,
    potentially hosting atmospheres with complex chemistry.
</p>
<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 510px; top: 300px;">TOI-4438 b</h3>
<!-- Terrestrial Planets -->
<div style="width: 32%; float: left; top: 400px; ">
    <img src="/TOI 4438b.jpg" alt="TOI-849b"
        style="width: 50; height: 150px; position: fixed; left: 500px; top: 350px;">

    <ol style="font-size: 14px; position: absolute; left: 240px; top: 520px;">
        <li><strong>Orbit Period</strong>: It completes an orbit around its host star every 7.44 days.</li>

        <li><strong>Size and Mass</strong>: This planet has a radius of 2.52 Earth radii and a mass of about 5.4 Earth
            masses.</li>

        <li><strong>Density and composition</strong>:Its hydrogen/helium atmosphere, which is enriched with water,
           <br> carbon dioxide, and methane, is most likely the reason for its density of 1.85 g/cm³.
        </li>

        <li><strong>Temperature</strong>: Its temperature is at 435k.
        </li>

        <li><strong>Astrophysical Study Potential</strong>:
            It is thought to be among the best targets for James Webb Space <br>Telescope atmospheric characterization
            (JWST)​.
        </li>
    </ol>
</div>

<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 1120px; top: 300px;">GJ 1214b</h3>
<div>
    <img src="/GJ 1214b.jpg" alt="Proxima Centauri b"
        style="width: 50; height: 150px; position: fixed; left: 1100px; top: 350px;">


    <ol style="font-size: 13px; position: absolute; left: 890px; top: 520px;">
        <li><strong>Size and composition</strong>: This exoplanet may have temperature characteristics akin to those of
            ice giants in our solar system because it orbits its star at a distance comparable to Uranus's from the Sun.
        </li>

        <li><strong>Surface Conditions</strong>:If the atmosphere of GJ 1214 b is genuinely water-rich, the surface
            conditions might be similar to a steam bath, but much hotter than anything found on Earth or any other
            planet in our solar system.</li>

        <li><strong>Water World Scenario</strong>:Given the possibility of a sizable water content, GJ 1214 b may
            resemble an ocean planet rather than a typical gas giant, providing a novel viewpoint on the idea of
            habitability in harsh environments.</li>

        <li><strong>Host Star</strong>: Its mass is estimated to be four times that of Uranus, suggesting a
            substantial build-up of mass from either an expanded disc or material captured from its surroundings.</li>

        <li><strong>Research Potential</strong>:Its discovery supports the hypothesis that these planets may form
            closer to their stars before migrating outward and offers insights into the genesis of ice giants.​​</li>
    </ol>
</div>