@page "/VelocityMethod"

<PageTitle>Radial Velocity Method</PageTitle>
<h1 style="font-family: 'Roboto', sans-serif; text-align: center;">Radial Velocity Method</h1>
<p>Doppler spectroscopy, another name for the Radial Velocity method, has been a key method in the search for
    exoplanets. It served as the main approach until the Transit technique gained popularity as a result of the Kepler
    spacecraft's contributions. The method depends on identifying changes in a star's velocity brought on by an orbiting
    planet's gravitational attraction. The star wobbles somewhat when a planet revolves around it due to the planet's
    gravitational pull. The star's spectrum changes color when it moves toward us—becoming blue when it does so, and
    turning red when it moves away—making it possible to trace this motion.
</p>
<p>Large planets near their stars are ideal targets for this technique because they cause more noticeable stellar
    wobbles. It has been especially successful in locating planets the size of Jupiter, but Earth-sized planets are more
    difficult to locate and need high-precision observations. This approach typically only observes close stars,
    typically located about 160 light-years from Earth, because it requires good signal-to-noise ratio spectra.
</p>

<p>When used in conjunction with the Transit technique, Radial Velocity can provide an indication of a planet's minimal
    mass, which can help determine the planet's true composition. The technique has greatly advanced our knowledge of
    exoplanets orbiting various star types. But because low-mass stars move more noticeably in reaction to an orbiting
    planet, it is more sensitive to finding planets around them.
    ​</p>

<h2 style="font-family: 'Roboto', sans-serif; text-align: left;">Limitations</h2>

<p>There are restrictions and difficulties as well. If the orbit is not directly in our line of sight, then just a
    portion of the planet's real wobble is visible. As a result, the approach provides the minimal mass of the planet
    rather than the precise value. Additionally, because it is more likely to find "hot Jupiters," or gas giants in
    close orbits to their stars, than it is to locate habitable Earth-like planets.</p>

<h3 style="font-family: 'Roboto', sans-serif; text-align: left;">Number of planets discovered by this method</h3>
<p>Radial velocity has been used to find 1,089 exoplanets as of the most recent release from the Exoplanet Archive.<br>
    Particularly when it comes to finding bigger planets in close orbits around their stars, this technique has shown<br> to
    be very effective. It has played a crucial role in our comprehension of the variety of planetary systems seen<br> in our
    galaxy.​ </p>
<img src="/GraphTransit.jpg" alt="" style="width: 200; height: 250px; position: fixed; left: 1100px; top: 550px;">