@page "/RoguePlanets"

<PageTitle>Rogue Planets</PageTitle>

<h1 style="font-family: 'Roboto', sans-serif; text-align: center;">Rogue Planets</h1>
<h2 style="font-family: 'Roboto', sans-serif;">What are the Rogue Planets?</h2>

<p>Rogue planets, also known as free-floating planets, are celestial objects that drift through space without being
    anchored to any star. Unlike the planets in our solar system, which orbit the Sun, rogue planets have either been
    ejected from their planetary systems or have formed in isolation amidst the gas and dust of their parent star
    clusters. These mysterious wanderers are intriguing because they challenge traditional notions of planetary
    formation and behavior. Lacking a nearby star, rogue planets do not receive light or heat, making them cold and dark
    realms that are difficult to detect. Their discovery has expanded our understanding of the diversity and dynamics of
    planetary bodies in the cosmos.</p>
<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 480px; top: 300px;">PSO J318.5-22</h3>
<!-- Terrestrial Planets -->
<div style="width: 32%; float: left; top: 400px; ">
    <img src="/PSO J318.5-22.jpg" alt="PSO J318.5-22"
        style="width: 50; height: 150px; position: fixed; left: 500px; top: 350px;">

    <ol style="font-size: 14px; position: absolute; left: 240px; top: 520px;">
        <li><strong>Unique Identification</strong>: PSO J318.5-22 was identified by its infrared signal, however it is
            notable <br> since it does not have a star in its orbit.
        </li>

        <li><strong>Physical Traits</strong>: It has a mass approximately eight times that of Jupiter, categorizing it
            as a<br> substellar object.</li>

        <li><strong>Age and Temperature</strong>:Its age is thought to be very young, at about 12 million years old,<br> and
            its temperature of about 800 degrees Celsius allows it to maintain enough residual heat <br> to produce light on
            its own.
        </li>

        <li><strong>Distance and Location</strong>:Situated in the Capricornus constellation some 80 light-years away <br>,
            it offers a close-up illustration of a planetary-mass object in solitude.
        </li>

        <li><strong>Scientific Value</strong>: For the purpose of researching atmospheric characteristics and formation <br>
            hypotheses of planetary objects independent of stars, this rogue planet is essential.​
        </li>
    </ol>
</div>

<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 1000px; top: 300px;">CFBDSIR J214947.2-040308.9
</h3>
<div>
    <img src="/CFBDSIR J214947.2-040308.9.jpg" alt="CFBDSIR J214947.2-040308.9"
        style="width: 50; height: 150px; position: fixed; left: 1100px; top: 350px;">


    <ol style="font-size: 14px; position: absolute; left: 890px; top: 520px;">
        <li><strong>Detection Method</strong>: This object was identified via its infrared emission in a survey
            specifically designed to find such isolated objects.
        </li>
        <li><strong>Physical Characteristics</strong>:It resembles gas giants in many ways, yet it is independent of any
            star and exists in space.</li>

        <li><strong>Proximity to Earth</strong>Because of its proximity to our solar system, it becomes a useful target
            for observational research utilizing available technologies.</li>

        <li><strong>Astrophysical Insights</strong>:Being a rogue planet, it puts to the test both the viability of
            free-floating planets and current models of planetary system dynamics.</li>

        <li><strong>Observational Prospects</strong>Future observations with more advanced telescopes could reveal more
            about its composition and the mechanisms behind its ejection or formation​.​</li>
    </ol>
</div>