@page "/SuperEarths"

<PageTitle>Super Earths</PageTitle>

<h1 style="font-family: 'Roboto', sans-serif; text-align: center;">Super Earths</h1>
<h2 style="font-family: 'Roboto', sans-serif;">What are Super-Earths?</h2>

<p>Super-Earths are intriguing exoplanets larger than Earth but smaller than Neptune, often found in the habitable zones
    of their stars. These planets, composed of rock, gas, or both, vary greatly in atmosphere and surface conditions,
    potentially supporting liquid water and life. Their prevalence in the galaxy suggests they're common, with some
    estimates indicating that a third of all exoplanets are Super-Earths. This makes them significant targets for
    research in astrobiology and the search for extraterrestrial life, given their diverse environments and greater
    detectability compared to Earth-sized planets
</p>
<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 500px; top: 300px;">TOI 1452 b</h3>
<!-- Terrestrial Planets -->
<div style="width: 32%; float: left; top: 400px; ">
    <img src="/TOI 1452b.jpg" alt="TOI 1452 b"
        style="width: 50; height: 150px; position: fixed; left: 500px; top: 350px;">

    <ol style="font-size: 13px; position: absolute; left: 240px; top: 520px;">
        <li><strong>Ocean World Potential</strong>: This planet is known as the "ocean world". Because of this
            classification,<br> it is possible that the planet's bulk is
            primarily made up of water—up to 30% of its entire mass—which <br> may be buried under vast oceans across the
            world. </li>

        <li><strong>Orbital Period and Star Type</strong>: It travels around a red dwarf star once every eleven days.
            The type <br>of star and its relative coolness mean that, despite the near orbit, TOI 1452 b receives light from
            the Sun <br>comparable to what Venus receives, supporting the potential of liquid water under the correct
            atmospheric <br>conditions.</li>

        <li><strong>Size and Composition</strong>: About 70% larger and roughly five times more massive than Earth is
            TOI 1452 b.<br> This bulk and size imply a stronger gravity, which could aid in the planet's ability to hold
            onto its thick<br> atmosphere—a necessary component in preventing any prospective oceans from vanishing into
            space.</li>

        <li><strong>Astronomical Location</strong>: TAt roughly 100 light-years from Earth, this planet is
            well-positioned for follow-up <br> studies with contemporary space telescopes like the James Webb Space
            Telescope, which might study its <br> atmosphere. It is part of the Draco constellation.​ </li>

        <li><strong>Twin Start System</strong>: TOI 1452 b is a member of a binary system of stars. Long-period orbits
            of the companion <br> star of its host star may have long-term effects on the planet's temperature and orbital
            dynamics.
        </li>
    </ol>
</div>

<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 1100px; top: 300px;">TOI-715b</h3>
<div>
    <img src="/TOI-715b.jpg" alt="Proxima Centauri b"
        style="width: 50; height: 150px; position: fixed; left: 1100px; top: 350px;">


    <ol style="font-size: 13px; position: absolute; left: 890px; top: 520px;">
        <li><strong>Habitable Zone Location</strong>: The red dwarf star TOI-715b is in its habitable zone, which
            implies that liquid water might exist there under certain atmospheric circumstances.</li>

        <li><strong>Observational Interest</strong>: Due to its fascinating features, it is a good candidate for
            follow-up studies with cutting-edge telescopes such as the James Webb Space Telescope in order to learn more
            about its surface and atmosphere.</li>

        <li><strong>Potential Rocky Composition</strong>: The likelihood of rocky TOI-715b is suggested by preliminary
            data, which is important for the possibility of Earth-like life.</li>

        <li><strong>Mass</strong>: With a mass of 3.02 times that of Earth, the planet is in the region where it may
            either become a dense rocky body or begin to take on characteristics more like those of Neptune.</li>

        <li><strong>System Dynamics</strong>:Another smaller, almost Earth-sized planet may be part of TOI-715b's
            system, suggesting a dynamically rich system that may provide more information about planetary formation and
            habitability around red dwarfs.​</li>
    </ol>
</div>