@page "/Terrestrial"

<PageTitle>Kinds of Exoplanets</PageTitle>

<h1 style="font-family: 'Roboto', sans-serif; text-align: center;">Terrestrial Exoplanets</h1>
<h2 style="font-family: 'Roboto', sans-serif;">What are the Terrestrial exoplanets?</h2>

<p>Terrestrial exoplanets are exoplanets that are generally rocky and this main characteristics are their density,
    silicate and the metallic compositions of solid surfaces. An earth dynamic surface and the potential precense of
    water make terrestrial exoplanets the prime planets to search for extraterrestrial life.
    These planets often host mountains, valleys, and craters, and their atmospheres. Located primarly in the inner
    regions of the solar system.
    Their proximity to their stars often places them within the habitable zone. The conditions are very righ for
    liquid water.
</p>
<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 500px; top: 300px;">Kepler-452b</h3>
<!-- Terrestrial Planets -->
<div style="width: 32%; float: left; top: 400px; ">
    <img src="/Kepler-452b.jpg" alt="Kepler-452b"
        style="width: 50; height: 150px; position: fixed; left: 500px; top: 350px;">

    <ol style="font-size: 14px; position: absolute; left: 240px; top: 520px;">
        <li><strong>Orbital Location</strong>: Kepler-452b is in the habitable zone of its star,
            suggesting possible conditions<br> for liquid water and life.</li>

        <li><strong>Size and Composition</strong>: The planet has a radius 1.63 times that of Earth
            and could either be <br> rocky or have a Neptune-like composition with ice and gas.</li>

        <li><strong>Orbital Period and Distance</strong>: It completes an orbit in 384.8 days at a distance
            similar to <br> that between Earth and the Sun.</li>

        <li><strong>Stellar Comparison</strong>: The planet orbits a G2 type star, similar to
            the Sun but 20% brighter,<br> causing Kepler-452b to receive 10% more solar energy.</li>

        <li><strong>Age and Stellar Activity</strong>: The star is 6 billion years old
            and increasing in radius and luminosity,<br> which might lead Kepler-452b to undergo a runaway greenhouse
            effect
            like Venus.</li>
    </ol>
</div>

<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 1100px; top: 300px;">Proxima Centauri b</h3>
<div>
    <img src="/Proxima Centauri b.jpg" alt="Proxima Centauri b"
        style="width: 50; height: 150px; position: fixed; left: 1150px; top: 350px;">


    <ol style="font-size: 15px; position: absolute; left: 890px; top: 520px;">
        <li><strong>Orbital Location</strong>:The planet is roughly 1.03 times the size of Earth.</li>

        <li><strong>Location</strong>: Habitable zone of its star potentially allowing for liquid water</li>

        <li><strong>Mass</strong>: It has 1.07 times the mass of the earth</li>

        <li><strong>Period</strong>: Completes an orbit around the star in abou 11.2 days<br></li>

        <li><strong>Year of dicovery</strong>: This dicovery of this planet was announced in 2016 </li>
    </ol>
</div>