@page "/TransitMethod"

<PageTitle>Transit Method</PageTitle>
<h1 style="font-family: 'Roboto', sans-serif; text-align: center;">The Transit Method</h1>
<p>The Transit Method is a primary technique used in the detection of exoplanets. It involves observing the slight
    dimming of a star as a planet passes or "transits" in front of it from our line of sight. This method has been
    incredibly successful, especially with missions like NASA's Kepler and the Transiting Exoplanet Survey Satellite
    (TESS), which have identified thousands of exoplanets by monitoring these tiny dips in stellar brightness​
</p>
<p>The Transit Method's capacity to calculate a planet's radius by calculating the quantity of light it blocks from its
    host star is one of its key advantages. By combining this information with the radial velocity approach, which
    gauges a star's movement as a result of an orbiting planet's gravitational attraction, scientists may determine the
    planet's density and deduce its composition (rocky, gaseous, etc.).
</p>

<p>Furthermore, the Transit Method makes it possible to analyze exoplanetary atmospheres by using a method known as
    transit spectroscopy. If a planet has an atmosphere, part of the star's light enters the planet when it moves in
    front of it. Researchers use variations in the light spectrum to pinpoint the molecules in the atmosphere, revealing
    information about the planet's possible habitability.
    ​</p>

<h2 style="font-family: 'Roboto', sans-serif; text-align: left;">Limitations</h2>

<p>The approach is not without its drawbacks, though. For the majority of exoplanets, it is statistically unlikely that
    the planetary orbit will be precisely in line with our line of sight. This implies that a large number of planets
    might go undiscovered if they are not seen by us as transiting their stars. Furthermore, a planet's presence can
    only be verified by periodic and repeated transits, which favors the discovery of planets that orbit near their
    stars.</p>

<h3 style="font-family: 'Roboto', sans-serif; text-align: left;">Number of planets discovered by this method</h3>
<p>The transit method has been exceptionally successful in discovering exoplanets. NASA's Kepler and K2 missions,<br>
    utilizing this method, have identified over 3,000 confirmed planets to date. This success continues with NASA’s <br>
    Transiting Exoplanet Survey Satellite (TESS), which is actively used for new discoveries​   </p>
<img src="/GraphTransit.jpg" alt="" style="width: 200; height: 250px; position: fixed; left: 1100px; top: 550px;">