@page "/UltraPlanets"

<PageTitle>Ultra Planets</PageTitle>

<h1 style="font-family: 'Roboto', sans-serif; text-align: center;">Ultra Short Period Exoplanets</h1>
<h2 style="font-family: 'Roboto', sans-serif;">What are the Ultra Short Period Exoplanets?</h2>

<p>Ultra-short period exoplanets are a unique class of exoplanets with orbital periods less than one day. These planets
    are characterized by their extremely close proximity to their host stars, which results in intense stellar radiation
    and high surface temperatures. Often found orbiting small, less luminous stars, these planets challenge traditional
    theories about planet formation and migration, as their existence and stability so close to their stars pose
    intriguing questions for astronomers. The study of ultra-short period exoplanets offers valuable insights into the
    dynamics of planetary systems and the effects of intense stellar proximity on planetary atmospheres.</p>
<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 510px; top: 300px;">WASP-19b</h3>
<!-- Terrestrial Planets -->
<div style="width: 32%; float: left; top: 400px; ">
    <img src="/WASP-19b.jpg" alt="WASP-19b" style="width: 50; height: 150px; position: fixed; left: 500px; top: 350px;">

    <ol style="font-size: 14px; position: absolute; left: 240px; top: 520px;">
        <li><strong>Orbital Period</strong>:Due to the powerful star radiation, this planet's atmosphere and physical
            features <br> are greatly influenced by its close proximity to its host star, which it orbits every 19 hours.
        </li>

        <li><strong>Massive and Hot</strong>: With such a short orbital period, it is one of the biggest known
            exoplanets, <br>resulting in extraordinarily high surface temperatures.</li>

        <li><strong>Atmospheric Studies</strong>:Finding the presence of water vapor and other molecules in the heated
            <br>Jupiter's atmosphere has been made possible thanks in large part to WASP-19b.
        </li>

        <li><strong>Planetary Migration</strong>:Its present location near its star points to the possibility of active
            migration<br> mechanisms bringing it inward from a more distant beginning.

        </li>

        <li><strong>Future Observation</strong>: Its orbital period may vary over time, according to predictive models,
            which<br> may shed more light on tidal interactions and orbital decay processes in such extreme planetary<br>
            systems.​
        </li>
    </ol>
</div>

<h3 style="font-family: 'Roboto', sans-serif; position: fixed; left: 1130px; top: 300px;">GJ 367b
</h3>
<div>
    <img src="/GJ 367b.jpg" alt="GJ 367b"
        style="width: 50; height: 150px; position: fixed; left: 1100px; top: 350px;">


    <ol style="font-size: 14px; position: absolute; left: 890px; top: 520px;">
        <li><strong>Extremely Short Orbital</strong>: GJ 367b completes an orbit around its star in just eight hours,
            making it one of the lightest and smallest planets discovered with such a period.
        </li>
        <li><strong>Composition and Density</strong>:The planet's high density and stony nature point to a significant
            iron core, which is comparable to Mercury's internal composition.</li>

        <li><strong>Proximity and Temperature</strong>Because of its closeness to its star, it is exposed to intense
            radiation and can experience temperatures on its surface of up to 1,500 degrees Celsius, which practically
            removes any significant atmosphere.</li>

        <li><strong>Potential for Additional Discoveries</strong>:There may be more planets in the system than the red
            dwarf that serves as its main star, which could give more background for comprehending the genesis and
            development of USPs.</li>

        <li><strong>Scientific Interst</strong>: GJ 367b's features, such as its size and orbital period, make it a
            fascinating candidate for additional research to learn more about the dynamics of planetary systems
            surrounding M dwarf stars.​</li>
    </ol>
</div>